<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div id = header>
        <h2>Logged Workout</h2>
    </div>

    <div>
        <form action="" method="post">
            <p>Workout Type: <%= workout %></p>
            <p>Duration: <%= duration %> minutes</p>
            <p>Intensity Level: <%= intensity %></p>
            <p>Date: <%= date %></p>
            <p>Notes: <%= notes %></p>
        </form>
    </div>
</body>
</html>