<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div id = header>
        <h2>Workout Summary</h2>
    </div>

    <div>
        <form action="" method="post">
            <h2>Logged Workouts</h2>
            
            <% for (let i = 0; i < WS_LOGS.length; i++) { %>
                <div class="workout-entry">
                    <p>Workout Type: <%= WS_LOGS[i].workout %></p>
                    <p>Duration: <%= WS_LOGS[i].duration %> minutes</p>
                    <p>Intensity Level: <%= WS_LOGS[i].intensity %></p>
                    <p>Date: <%= WS_LOGS[i].date %></p>
                    <p>Notes: <%= WS_LOGS[i].notes%></p>
                    <hr>
                </div>
            <% }; %>
        </form>
    </div>
</body>
</html>